.student-flex{
    min-height: 150px;
    display: flex;
    align-items: center;
    margin: 30px 0 !important;
}

.student-info-container{
}

.flex-list img{
    width: 60px;
    padding: 0 0 !important;
}