@font-face {
    font-family: 'scriptina';
    src: url("../../fonts/SCRIPTIN.ef99bd98798f.ttf");
}

.scr-fnt{
    font-family: 'scriptina';
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0 10px;
  margin: 0;
  width: max-content;
}

.breadcrumbs > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.breadcrumbs > div:not(.arrow):hover {
  color: darkorange;
}

.arrow::before {
  content: "/";
  color: darkorange;
}

.breadcrumbs p {
  margin: 0 0;
}

.enrol-process-outer {
  display: flex;
  justify-content: center;
}

.enrol-process-visual {
  display: flex;
  justify-content: space-between;

  height: 55px;
  position: relative;
}

/* Controls width of enrol steps*/

.enrol-process-steps,
.enrol-process-visual {
  width: 800px;
  max-width: 95vw;
}

.enrol-process-visual .circle {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
}

.enrol-process-visual .enrol-milestone .circle {
  left: 0;
}

.enrol-process-visual .receive-milestone .circle {
}

.enrol-process-visual .accept-offer-milestone .circle {
  right: 0;
}

.enrol-process-visual .milestone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enrol-process-visual .milestone.active .circle {
  /* height: 50px; */
  /* width: 50px; */
  top: 10px;
  background-color: darkorange;
}

.enrol-process-visual .milestone.active .circle-effect-1 {
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.enrol-process-visual .milestone.active .circle-effect-2 {
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  animation-delay: 1s;
}

.enrol-process-visual .milestone.active .circle-effect-3 {
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  animation-delay: 2s;
}

.enrol-process-visual .milestone.active .circle-effect-4 {
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  animation-delay: 3s;
}

.progress-bar {
  position: absolute;
  height: 3px;
  top: 25px;
  left: 25px;
  right: 25px;
  z-index: -1;
  background-color: darkorange;
}

.enrol-process-steps {
  margin-left: auto;
  margin-right: auto;
}

.enrol-process-steps p {
  font-family: "montage";
  padding: 0 0;
  margin: 0 0;
  font-size: large;
}

.enrol-process-steps .col-4 {
  padding: 0 0;
}

.enrol-process-steps p.active {
}

.main-content {
  margin-top: 50px;
}

.ucat-course-flex-carousel-container .carousel-item {
  height: 550px;
  border-radius: 12px;
}

.ucat-course-flex-carousel-container .carousel-item img {
  border-radius: 12px;
  height: 100%;
  width: auto;
}

.right-part-content {
  margin: 0px 24.5px;
}

.right-part-content .section {
  margin: 35px 0;
}

.right-part-content .exa-content-enrolment-form {
  font-size: 24.5px;
}

.right-part-content .exa-content-secure-your-spot {
  font-size: 42px;
}

.right-part-content .line-items-section {
  margin-bottom: 0;
}

.right-part-content .line-items-section .course-subtitle {
  font-size: 16px;
  margin: 0 0;
}

.right-part-content .line-items-section .course-name {
  display: inline-block;
  font-size: 32px;
  font-family: "montage";
  margin-bottom: 0;
}

.right-part-content .line-items-section .course-price {
  display: inline-block;
  float: right;
  font-size: 32px;
  font-family: "montage";
  margin-bottom: 0;
}

.line-items-separator {
  margin-bottom: 0;
}

.right-part-content .line-items-description-section p {
  font-size: 16px;
  line-height: 2.5;
}

.enrolment-timeline-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: solid white 4px;
  border-radius: 12px;
}

.enrolment-timeline-card img {
  width: 30px;
  height: 30px;
}

.enrolment-timeline-card .card-copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.enrolment-timeline-card .card-copy p {
  margin: 0 0;
}

.enrolment-timeline-card .card-copy .course-cohort {
  font-size: 16px;
}

.enrolment-timeline-card .card-copy .course-timeline {
  font-size: 22px;
}

.enrolment-form-section label {
  display: block;
  font-size: 20px;
  margin: 10px 0;
}

.enrolment-form-section input {
  width: 100%;
  background-color: #2f2f2f;
  border: none;
  border-radius: 12px !important;
  padding: 16px;
}

.enrolment-form-section .input-group {
  margin: 20px 0;
}

.atar-gpa-section input {
  width: 100%;
  background-color: #2f2f2f;
  border: none;
  border-radius: 12px !important;
  padding: 16px;
}

.atar-gpa-section label {
  display: block;
  font-size: 20px;
  margin: 10px 0;
}

#submit_form {
  width: 100%;
  margin: 40px 0;
  border-radius: 12px;
  border: solid darkorange 3px;
  background: none;
  padding: 20px;
  color: darkorange;
}

.whats-included .accordion {
  margin: 50px 0;
  border: none !important;
}

.whats-included .accordion-item {
  border: none !important;
  background: none;
}

.whats-included .accordion-header .accordion-button {
  background: none !important;
  color: #e1e1e1;
}

.whats-included .accordion-header .accordion-button:focus {
  box-shadow: none !important;
}

.whats-included .accordion-header .accordion-button p {
  margin: 0 0;
  font-size: 22px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e1e1e1'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

#the-only-dropdown li {
  list-style-type: none !important;
  font-size: 16px;
  margin-top: 10px;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

/* Phase 2 */
.phase2 .section{
    margin-top: 40px;
    margin-bottom: 40px;
}

.phase2 .enrolment-submitted-section {
  display: flex;
  align-items: center;
}

.phase2 .enrolment-submitted-section .exa-content-enrolment-submitted {
  font-size: 25px;
  font-family: 'montage';
  margin: 0 20px;
}

.phase2 .enrolment-submitted-section .exa-content-well-be-in-touch {
    font-size: 42px;
    font-family: 'montage';
    margin: 0 20px;
  }

.phase2 .enrolment-submitted-section img {
  height: 70px;
}

.phase2 .line-items-section .course-subtitle{
    font-size: 16px;
}

.phase2 .line-items-section .course-subtitle{
    font-size: 16px;
    font-family: 'montage';
    margin: 0 0;
}

.phase2 .line-items-section .course-name{
    font-size: 31px;
    font-family: 'montage';
    margin: 0 0;
}

.phase2 .line-items-section .course-price{
    font-size: 31px;
    font-family: 'montage';
}

.phase2 .summary-section p{
    font-size: 22px;
    margin: 0 0;
}

.phase2 .offer-submitted-copy{
    font-size: 12px !important; 
    color: #9F9F9F;
    margin-top: 10px !important;
    margin-bottom: 40px !important;

}

.save-email-btn{
    border: solid white 0.5px;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    margin: 10px !important;
    cursor: pointer;
}

.update-details-btn{
    border: solid white 0.5px;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    margin: 10px !important;
    cursor: pointer;
}

/* Phase 3 */

.phase3 .course-offer-part p{
    font-size: 18px;
    font-family: 'montage';
}

.phase3 .course-offer-part p{
    font-size: 18px;
    font-family: 'montage';
}

.phase3 .line-items-section {
  margin: 30px 0;
  margin-bottom: 10px;
}

.phase3 .line-items-section .course-subtitle {
  font-size: 16px;
  margin: 0 0;
}

.phase3 .line-items-section .course-name {
  display: inline-block;
  font-size: 32px;
  font-family: "montage";
  margin-bottom: 0;
}

.phase3 .line-items-section .course-price {
  display: inline-block;
  float: right;
  font-size: 32px;
  font-family: "montage";
  margin-bottom: 0;
}

.line-items-separator {
  margin-bottom: 0;
}

.phase3 .line-items-description-section p {
  font-size: 16px;
  line-height: 2.5;
}

.course-timeline-table-container{
    margin-bottom: 50px;
}

.course-timeline-table-container table{
    width: 80%;
    float: right;
    margin-bottom: 50px;

}

.course-timeline-table-container td{
    width: max-content;
    font-size: 22px;
    border-top: solid #9F9F9F 0.5px;
    border-bottom: solid #9F9F9F 0.5px;
    padding: 20px 0;
}

.course-timeline-table-container td span{
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.course-timeline-table-container td span.date{
    padding: 0 10px;
    border-left: solid #9F9F9F 0.5px;
    
}

.course-timeline-table-container td p{
    display: inline-block;
    width: max-content;
    margin: 0 0;


}

.course-timeline-table-container img{
    padding: 7px;

}

.phase3 .due-today{
    display: flex;
    justify-content: space-between;

}

.phase3 .due-today p{
    display: inline-block;
    font-weight: bold;
}

.EntryFormSubmission input{
  color: white;
}