@font-face {
  font-family: "montage";
  src: url(../fonts/montage-99formed.otf);
}

h1,
h2,
h3,
.mtg-fnt {
  font-family: "montage";
}

body {
  background-color: #111111;
  color: #e1e1e1 !important;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.navbar li {
  margin: 0 10px;
  border-radius: 3px;
}

.navbar #go-to-lms {
  border: #5a5a5a solid 1px;
  padding: 0 10px;
  transition: all 0.4s;
}

.navbar #go-to-lms:hover {
  border: darkorange solid 1px;
}

.navbar #go-to-lms:hover a {
  color: darkorange !important;
}

.navbar #enrol-today {
  background-color: darkorange;
  padding: 0 10px;
}

.navbar #enrol-today a {
  color: #e1e1e1;
}

@media (min-width: 992px) {
  .navbar .dropdown-menu {
    width: 500px;
    transform: translateX(30px);
    
  }

  .navbar ul{
    padding: 0 0;
    
  }
}

.navbar .dropdown-menu {
  background-color: #1e1e1e;
  padding: 18px 20px;
  padding: 40px 50px;
  position: relative;
  border-top-left-radius: 0;
  transition: all 0.4s;
  
}

.navbar .dropdown-menu h3{
    color: darkorange;
    
}

.navbar .columns-2 .col-6,
.navbar .columns-2 .col-6 ul {
  padding: 0 0;
}

.navbar .columns-2 .col-6 ul li {
  list-style-type: none;
  margin: 5px 0;
  cursor: pointer;
  
}

.navbar .columns-2 .col-6 ul li a{
    color: #7a7a7a;
    text-decoration: none;
    transition: color 0.4s;
}

.navbar .columns-2 .col-6 ul li:hover a {
    color: #e1e1e1;
}
