{% extends 'base.html' %}

{% load static %}

{% block body %}

    <div class='ucat-course-content' style='padding-top: 80px; background: #1E1E1E'>
        <div class='course-title'>
            <h1 style='text-align: center'>Dentistry Interview Course Syllabus</h1>
        </div>
        <div class='container' style='padding: 100px 10px'>
            <div class='row'>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Introduction
                    </h3>
                    <ul>
                        <li>Stations tested in Dentistry Interviews</li>
                        <li>Practicing for Interviews</li>
                        <li>Ideal Interview Timeline</li>
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Considerations
                    </h3>
                    <ul>
                        <li>The timeline to becoming a dentist and beyond</li>
                        <li>Interviewers’ thoughts</li>
                        <li>Personality traits interviewers are searching for</li>
                        <li>Overview of Ethical Issues raised</li>
                        <li>Topics to research outside of Interview practice</li>
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3 style='font-size: 30px'>
                        Interview Response techniques
                    </h3>
                    <ul>
                        <li>Response Structuring</li>
                        <li>How to unpack interview questions</li>
                        <li>Discussing Stakeholders</li>
                        <li>Further tips to strengthen your response</li>
                        <li>Building an anecdote bank</li>
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Acting stations
                    </h3>
                    <ul>
                        <li>Overview of Acting Stations</li>
                        <li>Conflict Resolution Strategies</li>
                        <li>Ethic Violation Scenarios</li>
                        <li>How to Break Bad News</li>
                        <li>Dealing with Anxious Acting scenarios</li>
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Psychological Questions
                    </h3>
                    <ul>
                        <li>Difference between Medical and Dental Interview personal questions</li>
                        <li>How to Promote “Outrospective Traits”</li>
                        <li>Demonstrating ones “Introspective Traits”</li>
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Thinking Critically
                    </h3>
                    <ul>
                        <li>Performing in ‘Thinking Critically’ stations</li>
                        
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3 style='font-size: 30px'>
                        Understanding the Dentistry Profession
                    </h3>
                    <ul>
                        <li>Addressing common ethical issues in the clinic</li>
                        <li>Traits necessary for a Dental career</li>
                        <li>Pros and Cons for Dentistry</li>
                        <li>Handling judgement on your decision to do Dentistry</li>
                        
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Delivering Justice
                    </h3>
                    <ul>
                        <li>Indigenous Dental Health</li>
                        <li>Rural Dental Issues</li>
                        <li>Dental Schemes for the marginalised in society</li>
                        
                    </ul>
                </div>
                
            </div>
            <a href='/eligibility-check/' class='book-button'>Book Now</a>
        </div>
        
    </div>
{% endblock %}
