{% extends 'base.html' %}

{% load static %}

{% block body %}

    <div class='ucat-course-content' style='padding-top: 80px; background: #1E1E1E'>
        <div class='course-title'>
            <h1 style='text-align: center'>Medical Interview Course Syllabus</h1>
        </div>
        <div class='container' style='padding: 100px 10px'>
            <div class='row'>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Introduction
                    </h3>
                    <ul>
                        <li>Types of Medical School Interviews</li>
                        <li>Stations tested</li>
                        <li>How to practice for Interviews</li>
                        <li>Ideal Interview Timeline</li>
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Considerations
                    </h3>
                    <ul>
                        <li>Time it takes to be a doctor</li>
                        <li>Interviewers’ thoughts</li>
                        <li>Desirable personality traits</li>
                        <li>Ethical Issues in MMI you should know</li>
                        <li>Necessary research outside interview practice</li>
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3 style='font-size: 30px'>
                        Interview Response techniques
                    </h3>
                    <ul>
                        <li>Structuring your response</li>
                        <li>Unpacking interview questions</li>
                        <li>How to discuss stakeholders</li>
                        <li>Tips to strengthen your response</li>
                        <li>Building an anecdote bank</li>
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Acting stations
                    </h3>
                    <ul>
                        <li>Different types of Acting Stations</li>
                        <li>Principles of Conflict Resolution</li>
                        <li>Dealing with Ethics Violations</li>
                        <li>Breaking Bad News</li>
                        <li>Overcoming Anxious Actors</li>
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Psychological Questions
                    </h3>
                    <ul>
                        <li>Overview of Personal/ Invasive questions asked</li>
                        <li>Discussing personal life experiences</li>
                        <li>Promoting individual “Outrospective Traits”</li>
                        <li>Highlighting unique “Introspective Traits”</li>
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Greater Western Sydney Station + Community
                    </h3>
                    <ul>
                        <li>Preparing for the GWS Station </li>
                        <li>Addressing your community role in Medical interviews</li>
                        
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3 style='font-size: 30px'>
                        Pressurised + Thinking Critically Stations
                    </h3>
                    <ul>
                        <li>How to avoid buckling under Pressured MMI’s </li>
                        <li>Strategy to address multi-optioned stations (thinking critically)</li>
                        
                    </ul>
                </div>
                <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                    <h3>
                        Critique + Understanding the Medical Profession
                    </h3>
                    <ul>
                        <li>Elements to critique in a medical consultation</li>
                        <li>Responding to judgement on your decision to do Medicine</li>
                        
                    </ul>
                </div>
                <div class='row'>
                    
                    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                        <h3>Deliverance of Justice</h3>
                        <ul>
                            <li>Addressing the Indigenous Station</li>
                            <li>Discussing Rural Issues</li>
                            <li>Identifying Disability Support Services</li>
                        </ul>
                    </div>
                    <div class='col-lg-3 col-md-3 col-sm-6 col-xs-12'>
                        <h3>MMI Response Examples</h3>
                        <ul>
                            <li>MMI Response examples included</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <a href='/eligibility-check/' class='book-button'>Book Now</a>
        </div>
    </div>
{% endblock %}
