{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class='our-story-page'>
    
    {% comment %} <div class='our-story-title'>
        <h1 class="text-center">Our Story</h1>
    </div> {% endcomment %}
    <div class="container-fluid">
        
        <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 rakin-pic'>
                
            </div>
            <div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
                <div class='rakin-part-a'>
                    <h1>Rakin Rahman</h1>
                    <h3>2018: HSC and Overwhelming Failure</h3>
                    <p>
                        It was perhaps naive, but after evaluating my skills, interests, and desired impact in my lifetime, I had my mind set on pursuing a career in medicine. I couldn't imagine myself doing anything else. I attended Sydney Boys High School, which was ranked among the top 5 schools for the Higher School Certificate in New South Wales at the time. The school was known for its rigorous work ethic and successful alumni, and I often felt overwhelmed by the difficulty of keeping up with my peers. However, this was just the beginning of my struggles. 
                        <br/><br/>
                        This was the year I would experience the virtual impossibility of getting into medicine. I realized that in trying for medicine, I was competing with individuals who had been trying for 8+ years, people who had finished their degrees, people who were always going to be smarter, more mature, and more well-rounded than me. They had the right mentors and an in-depth understanding of the profession. I learned this the hard way, perhaps due to my own arrogance or lack of self-awareness. 
                        <br/><br/>
                        Getting accepted into medicine is a widespread dream, and this is easily taken advantage of by virtually every tutoring center that posts flashy one-off success stories despite their appalling success rates. I didn't have that understanding back then, and neither did my parents. Like sheep, me and my peers all enrolled in overpriced, fast-food style preparation courses for the Undergraduate Medicine and Health Sciences Admission Test (UMAT) that did not care about getting students in with tailored guidance but rather making a buck off the masses and their hopes and dreams. 
                        <br/><br/>
                        With these expensive and time-consuming courses, I could not see any improvement at all. The feedback on what I was doing wrong was non-existent. 25 hours a week down the drain, my HSC studies were detrimentally affected by this waste of time. As the UMAT neared, my mental health plummeted, and things went horribly beyond my imagination.
                        <br/><br/>
                        The reality is that these exams will come whether you are going through a tough time or not. The UMAT came promptly, and so did the UMAT results: a 74th percentile. This meant that unless my Australian Tertiary Admission Rank (ATAR) was a 99.6 or higher, I wouldn't be getting into medicine anywhere in Australia. In agony and defeat, I set to work.
                        <br/><br/>
                        Another 12 months of going through this pain hinged on that ATAR. I studied day and night, pushing my brain and body to their physiological limits, foolishly depriving them of the minimal essential sustenance. I never got to celebrate the effort I put into my HSC. When the ATAR of 99 came out, I couldn't celebrate because there was intense disappointment and self-loathing at my wishful thinking. When I see someone struggling to get into medicine, I know what that pain might feel like. Medical interview offers: 0.
                       
                    </p>
                </div>
            </div>
        </div>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-lg-8 col-md-12 col-sm-12 col-xs-12 rakin-part-b'>
                    
                    <h3>2019: Mastering the UCAT and Interviews</h3>
                    <p>
                        As my peers were moving on with their lives and engaging into the university experience, I was in a frustrating state of limbo. It was very possible I could be stuck as a premed student for years or end up a failure. These realities were heavy on my mind and I only realized now how great of a feat this year was.

                        <br/><br/>
                        There is one philosophy I told myself to deal with such a mental burden: If I walk into the UCAT stating that there was nothing else I could have done for my preparation then whatever the result I would be satisfied knowing I gave it my all. The only thing to do now was give it my all.
                        
                        <br/><br/>
                        To really give it my all, I took a gap year to devote to getting into Medicine. Apart from gym and my part-time job, I took on nothing. I went out with no-one. Worldly affairs meant nothing to me. I took no days off. Every day was an opportunity to improve that I did not want to squander.
                        
                        <br/><br/>
                        The entire year was: Wake up. Eat. Take the train to Ingleburn. Study at the library. Eat while studying. Leave the library as late as possible. Teach. Gym. Go home and continue studying. Sleep. I really am not joking when I say I devoted my life that year to studying to get into Medicine. Nothing else mattered.
                        
                        <br/><br/>
                        The reality also, apart from two very special study partners (who both study Medicine with me), we were entirely alone. This was the first time the UCAT was used for Medical admissions and the grubby tutoring centers tried to sell of past UMAT (completely different exam) successful students as being able to teach the UCAT despite having never done it.
                        
                        <br/><br/>
                        It was quite obvious that all these online programs, self-proclaimed UCAT masters and established tutoring centers were trying to take advantage of students dreaming to get into medicine and were willing to feed them whatever bs they could to turn a profit. Disgusting, but where there was chaos of a new exam I saw an opportunity to excel while everyone was confused.
                        
                        <br/><br/>
                        Having the 99 ATAR in my back pocket and taking the gap year was strategic. I didn’t need to go to university to improve my tertiary marks and so I had the luxury of time. That time was well utilized experimenting. I did every online question bank in existence and applied to a billion UCAT courses in the United Kingdom. I researched and applied new techniques every day to become a few seconds faster at each question. I hit dozens of dead ends and failures with timing each day. The majority of the days ended in failure and concern, but an unfathomable number of lessons were learned.

                        <br/><br/>

                        These lessons changed the direction of my fate. I left the Sydney UCAT testing facility opening my email to find a 99%ile. The success of the moment didn’t hit me until later, but for the first time I wasn’t a sheep anymore. I went my own way, gave my life to something, and it paid off. But the journey wasn’t over yet.
                        <br/><br/>
                        
                        Me and my two comrades all walked the same gap year path and all 3 of us scored in the 90s for the UCAT. All of our scores were competitive. We came to an agreement to approach our interview studies with the exact methodology of the UCAT, except this time we could learn more from others because medical interviews have a tried and tested method to approach them.
                        <br/><br/>

                        Most days were a copy of the UCAT study. Wake. Library. Practice interview question round robin and feedback based off what we had learnt. Teach. Gym. Personal interview study. Sleep. Repeat for 5 months. The remaining days we attended seminars, courses, workshops and learnt from absolutely every older peer in Medicine we knew. We figured out all the topics that could be asked in the interviews and developed a plan for all of them. It was one of the greatest big brain moments.
                        <br/><br/>

                        Once again, because there was nothing else I possibly could have done to improve my interview strategy and ability, I received medical interview offers from all around Australia this year. Western Sydney, University of New England, James Cook, Adelaide University, Western Australia. All the hard work and devotion paid off as I blew each interviewer away. There was no interview question that could phase me and when the medical place offers came, I accepted Western Sydney straight away without a second thought.
                        <br/><br/>

                        My life was about to change.
                        <br/><br/>

                    </p>

                </div>
                <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12 rakin-pic-b'>
                </div>
            </div><br/>
            <div class='row'>
                <div class='col-lg-6 rakin-part-c'>
                    <h3>2020-2021: Testing phase of 99forMED</h3>
                    <p>
                        Studying medicine was beautiful. It was a new kind of struggle, for sure, but even after some of the worst days, I could still say that I was going to become a doctor regardless. There was no comfort as great as that.
                        <br/><br/>
                        However, it dawned on me that inside my head, I had the ins and outs of the UCAT and Medical interviews to an extent that I doubt even few have. To make my skillset even more unique, I had been teaching Ext 2+Ext 1+Advanced Maths, Preliminary+HSC Physics, Preliminary+HSC Chemistry, Year 10 Science, and Year 9 Maths at Phoenix Education for the entire gap year alongside my studies. I had 600 hours of teaching under my belt.
                        <br/><br/>
                        It would have been extremely irresponsible of me to just let that premed knowledge fade away when I could use it to actually ensure someone else's dreams turned into a reality, without having to go through the same amount of struggle that I had to.
                        <br/><br/>
                        With my extensive experience, I believed I could do that but I had to put it to the test. I went by the name rakthemedic on Instagram to share my journey and soon enough, over these two years, many individuals, younger than me, older than me came seeking to be trained. I only took on the serious individuals, totalling 20 students. Within these 20, 18 of them successfully received an offer for Medicine in Australia (see list*) throughout 2020 and 2021 and that confirmed the hard-earned skillset that I have. I can make doctors.
                    </p>
                </div>
                <div class='col-lg-6 rakin-part-d'>
                    <h3>2022: Launching 99forMED: A Specialist Medical Training Institute</h3>
                    <p>
                        Throughout my journey, I have come to understand the pain and disappointment that comes from working hard to pursue a career in medicine, only to fall short. I understand the struggle, the frustration, and the feeling of being lost and uncertain about what will work and what won't. I know that the premed education industry is not always focused on helping students succeed. I understand that not everyone has the luxury of time that I had. 
                        <br/><br/>
                        Honestly, I wish I could go back and teach myself, but since I cannot, I will do something better. I will help others through 99forMED.
                        
                        
                        Working alongside Rafi Ashraf, we aim to turn each of our students into future doctors, so they can provide a lifetime of service and healing to the world. This is the start of 99forMED.
                        <br/><br/>
                        This is the start of 99forMED
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 rafi-pic'>    
            </div>
            <div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
                <div class='rafi-part-a'>
                    <h1>Rafi Ashraf</h1>

                    <h3>2018: Year Zero / A goal without a plan is just a wish [HSC]</h3>
                    <p>
                        As a year 12 student attending a local selective school, the support and resources I had at my disposal were quite limited. It was a struggle to compete at the level of students from the top selective schools, and accessing quality tuition required hours of travel. Despite a considerable minority of my contemporaries aspiring for medicine, there was negligible information available to us regarding what medicine was and how we can enter the degree. All I knew at the time was that you needed the best of the best of the best marks… 99.95. An ATAR virtually unattainable with the resources and support I had available to myself. 

                        The then UMAT had much poorer success than today’s UCAT, with the support available being limited to online question banks. The greatest difficulty was making time to study UMAT with the significant time pressures brought upon by Extension 2 Mathematics and my other demanding subjects. I was constantly faced with the risk of overcommitting to an external exam with no guarantee of success (UMAT) inevitably underscoring my potential ATAR.
                        
                        Ultimately, I achieved a low UMAT score. I did not know about the options available to me regarding medical schools. I did not even realise that I had actually met the ATAR requirement for WSU Medicine, which would have just required a strong UCAT score in a subsequent “gap year”. However, I was sure that I wanted to pursue a career in medicine and I really wanted to study at UNSW. Hence, I picked the degree that promised the most similarity regarding content and embarked on studying Medical Science at my dream university at the time, UNSW.
                    </p>

                    <h3>2019: Medical Science & Solace Tuition [1st yr, MedSci]</h3>
                    <p>
                        No matter the degree, it is quite a big jump from Year 12 to university. With increased freedom comes increased responsibility, and it suddenly fell on my own discipline to pick my own courses and classes, make time to study, submit assessments on time and many other things a high schooler would take for granted. Like many other first years, I struggled with the initial transition.

                        Furthermore, medical science presented a plethora of medical, chemistry, biology and statistical content different to anything I had prepared for in high school. It took a lot of time but I was able to master my own technique of studying, reviewing large scientific papers, creating my own papers and appreciating complex mechanisms and feedback loops. I believe my study of medical science established a solid framework for my future studies within medicine. I found that by the the time I had reached med school, I already had an astute understanding of certain key principles, but more importantly I had a tried and tested plan to tackle future concepts. 

                        Alongside medical science, I had began tutoring and found immense pleasure and success in doing so. I discovered firsthand that to truly understand something means to be able to explain it, in simple terms to someone learning the concept. I tutored a variety of age groups, from OC and Selective Test preparation to HSC level, in a variety of subjects, from mathematics and sciences to English. Eventually, I had a developed a reputation in my local community and had a growing waiting list of students.

                        I also recognised a problem my contemporaries where despite their skill as tutors, they were unable to find students. Likewise, many students in my area could not find good local support and hence had to travel very far for tuition. And even the academic support available there was too rigid; too focussed on big classes and standardised homework as opposed to actually teaching core concepts well and tailoring them to the student’s learning needs. Therefore, I invested a significant amount of time into creating my first tutoring business, Solace Tuition. At 18 I had to research extensively into business structures, business laws, content creation, graphic design, marketing, accounting, web design, employee interviewing and much more to build my first business all by myself.

                        Between Medical Science and Solace Tuition, I did not make any time for the UCAT except to sit it. No preparation… only scoring a very baseline 2500.
                    </p>
                </div>
            </div>
            <div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
                <div class='rafi-part-b'>
                    <h3>2020: How NOT to prepare for UCAT [2nd yr, MedSci]</h3>
                    <p>
                        You know how life is. Without a personal trainer, you might put off gym for weeks or months. Likewise, somehow months had passed and there was only 3 months left until the UCAT. So, I only had last minute preparation with an online coaching company. Other than pre-recorded videos with a comment section, there was no individualised support and no tutor to hold me accountable. And hence I developed a very superficial and rudimentary understanding of the UCAT based on watching videos and practising questions. 

                        Additionally, following the teaching that I had been given, I focussed solely on accuracy rather than speed, saving up my mocks until the very end of June. This meant I took too long to do questions. On top of that, I ran out of time in June to even do the mocks and hence I was not ready for the stamina and endurance needed for the UCAT. This led me to only score a 2940.                    
                    
                    </p>

                    <h3>2021: Study Smarter, Not Harder [3rd yr, MedSci]</h3>
                    <p>
                        I had finally recognized that speed was just as important as accuracy, and speed cannot come from only accuracy. With this in mind, I made sure to start my preparation early, giving myself a generous six-month window to get ready.

                        To align myself with an effective plan, I aimed to answer 100 questions per day. Depending on the section I was working on at any given time, I would decide how many questions I needed to answer for each section of the test. Doing these questions in timed conditions from the onset reinforced my speed skills early on.

                        I also spaced out my mock exams, taking them early on in my preparation to give myself time to identify areas of weakness and focus my efforts where they were needed most. Rather than following a generalized plan, I created an individualized plan for myself, studying independently and catering to my own specific needs.

                        Through my dedication and hard work, I scored an impressive 3200+ on the exam. 

                        Furthermore, I was able to use my experience and knowledge to help my peers in their interview preparation classes. As a moderator, I organized practice sessions and gave feedback on their responses. When Rakin was absent as an interview trainer, I was able to answer his students’ queries on interview techniques, MMI structures, and how to answer certain types of questions.

                        Finally, I completed a Bachelor of Medical Science, Double Major in Neurobiology and Pathology at UNSW, which provided me with the foundational knowledge and skills I needed to succeed in my chosen field.
                    </p>
                </div>
            </div>
            <div class='col-lg-6 col-md-12 col-sm-12 col-xs-12'>
                <div class='rafi-part-c'>
                    <h3>2022: 99ForMed + Medicine</h3>
                    <p>
                        My years of investigating UCAT combined with my years of interviewing candidates and managing a successful tutoring business led me to team up with Rakin to formally launch 99ForMed. We would finally be the personal trainers ambitious premed students needed to push them into medicine. Having years of insights of what to do and what not to do, we found that we connect with premed students in a way that most of the faceless online question bank companies simply can not. My leadership and advocacy skills have also helped me become the First Year Representative for my medical cohort, intricately exposing me into the educational and administrative elements of medicine.

                        Running two businesses with med school is definitely no picnic, but the past few years have prepared me for this. Furthermore, I’ve found that each aspect of my life helps the other out. 

                        “Doctor” means “to teach” in Latin, and with Rakin that’s my goal; to help people “actually get into medicine”.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}