{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="d-flex justify-content-center align-items-center submitted-screen" style="height:100vh">
    <div class="card-submitted text-center" style="width:40%">
        <div class="card-submitted-body">
            <h1 class="card-submitted-title">Submitted</h1>
            <p class="card-submitted-text">Your application will be assessed.</p>
            <p>We will be in touch soon.</p>
            
        </div>
    </div>
</div>
{% endblock %}