{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
<div class='successful-students'>
    
    <div class='row'>
        <div class='col-md-4'>
            <div class='flex-list'>
                <div class='row student-flex'>
                    
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                        <img src='{% static 'img/unsw-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>S. BHATIA</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3080 <span style='color: darkorange'>94th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/wsu-logo.webp' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>F.Jan</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3060 <span style='color: darkorange'>93rd Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/wsu-logo.webp' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>R.Ashraf</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3200 <span style='color: darkorange'>98th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/wsu-logo.webp' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>R.Ahmed</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3120 <span style='color: darkorange'>95th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/griffith-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>N.Huda</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'><span style='color: darkorange'><90th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/griffith-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'> A.Mohebi</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'><span style='color: darkorange'><95th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
            <div class='flex-list'>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/wsu-logo.webp' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>T.Amir</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3010 <span style='color: darkorange'> 92nd Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/university-of-adelaide-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>A.Rajapakse</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3320 <span style='color: darkorange'>99th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/wsu-logo.webp' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>P.Tran</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>2950 <span style='color: darkorange'>88th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/university-of-qld-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>N.H</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3080 <span style='color: darkorange'>94th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/une-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'> A.Rahman</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3100 <span style='color: darkorange'>95th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/wsu-logo.webp' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'> I.Karim</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3100 <span style='color: darkorange'>95th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
            <div class='flex-list'>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/wsu-logo.webp' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>M.Ahmad</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3100 <span style='color: darkorange'>95th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/charles-stuart-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>P.Lay</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>2540 <span style='color: darkorange'>(Rural)</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/anu-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>L.Rahman</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>N/A <span style='color: darkorange'></span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/anu-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>L.R.F.O</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>N/A <span style='color: darkorange'></span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/anu-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>L.R.F.T</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>N/A <span style='color: darkorange'></span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
                <div class='row student-flex'>
                    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 img-container'>
                            <img src='{% static 'img/charles-stuart-logo.png' %}'>
                        
                    </div>
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'> N.Hassan</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>3130 <span style='color: darkorange'>96th Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    <p class='back' style='padding-left: 10px'>Back</p>
</div>
<script>
	//vertically centering the university
	var divList = document.getElementsByClassName('student-flex');
	
	window.addEventListener("load", (event) => {
		for(var i = 0; i < divList.length; i++){
			height = divList[i].offsetHeight;
			divList[i].childNodes[1].style.paddingTop = String(parseInt(height)/5)+'px';
		}
	  });
    
      window.addEventListener("resize", (event) => {
		for(var i = 0; i < divList.length; i++){
			height = divList[i].offsetHeight;
			divList[i].childNodes[1].style.paddingTop = String(parseInt(height)/5)+'px';
		}
	  });
	
	
</script>

{% endblock %}