{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/overwrite/successful-students.css' %}" /> 
{% endblock %}
{% block body %}
<div class='successful-students'>
    <div class='row'>
        <p class='back' onclick='window.location.href="/"' style='padding-left: 10px; margin-top: 50px;'>Back</p>

        {% for student in render_students %}
        <div class="col-md-4">
            <div class="flex-list">
                <div class='row student-flex'>
                    
                        <img src='{% static 'img/'|add:student.logo %}'>
                        
                    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
                        <div class='student-info-container'>
                            <span class='score' style="padding-left: 0px;">
                                <p>Name </p><span class='big'>{{student.name}}</span>
                            </span>
                            <br class='show-on-mobile'/>
                            <span class='score' style="padding-left: 0px;">
                                <p>Score</p><span class='big'>{{student.score}} <span style='color: darkorange'>{{student.percentile}} Percentile</span></span>
                            </span>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-4">
            <div class="individual-student">

            </div>
        </div>
        <div class="col-md-4">
            <div class="individual-student">

            </div>
        </div>
        <div class="col-md-4">
            <div class="individual-student">

            </div>
        </div>
    </div>
    
</div>
<script>
	//vertically centering the university
	var divList = document.getElementsByClassName('student-flex');
	
	window.addEventListener("load", (event) => {
		for(var i = 0; i < divList.length; i++){
			height = divList[i].offsetHeight;
			divList[i].childNodes[1].style.paddingTop = String(parseInt(height)/5)+'px';
		}
	  });
    
      window.addEventListener("resize", (event) => {
		for(var i = 0; i < divList.length; i++){
			height = divList[i].offsetHeight;
			divList[i].childNodes[1].style.paddingTop = String(parseInt(height)/5)+'px';
		}
	  });
	
	
</script>

{% endblock %}