{% extends 'base.html' %}

{% load static %}

{% block body %}

    <div class='ucat-course-content' style='padding-top: 80px; background: #1E1E1E'>
        <div class='course-title'>
            <h1 style='text-align: center'>UCAT Comprehensive Course Syllabus</h1>
        </div>
        <div class='container' style='padding: 100px 10px'>
            
            <div class='row' style='padding-bottom: 50px'>
                <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                    <h3>Verbal<br/>Reasoning</h3>
                    <ol>
                        <li>General</li>
                        <li>Specific</li>
                        <li>T/F/C</li>
                        <li>Active reading strategies</li>
                        <li>Exam technique</li>
                        <li>Speed reading strategies</li>
                        <li>Comprehension skills</li>
                    </ol>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                    <h3>Decision<br/>Making</h3>
                    <ol>
                        <li>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="syllogisms-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              Syllogisms
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="syllogisms-dropdown">
                              <li>All</li>
                              <li>Some</li>
                              <li>None</li>
                            </ul>
                          </div>
                        </li>
                        <li>Passage</li>
                        <li>Diagrams</li>
                        <li><div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="order-logical-puzzles-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              Order/Logical Puzzles
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="order-logical-puzzles-dropdown">
                              <li>Linear/Birds eye view method</li>
                              <li>L Method</li>
                              <li>T Method</li>
                            </ul>
                          </div></li>
                        <li><div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="venn-diagrams-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              Venn Diagrams
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="venn-diagrams-dropdown">
                              <li>Type A</li>
                              <li>Type B</li>
                              <li>Type C</li>
                              <li>Type D</li>
                            </ul>
                        </div></li>
                        <li><div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="probability-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              Probability
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="probability-dropdown">
                              <li>Principles of Probability for every question type</li>
                              <li>2-way Tables</li>
                              <li>Tree Diagram </li>
                              <li>Box Method</li>
                              <li>Pretend number method</li>
                              <li>Regular Probability</li>
                              <li>Insufficient information questions</li>
                              <li>Wording questions</li>
                            </ul>
                        </div></li>
                        <li><div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="arguments-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              Arguments
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="arguments-dropdown">
                              <li>Specific</li>
                              <li>General</li>
                            </ul>
                        </div></li>
                        <li>Interpreting Information</li>
                        <li>Games</li>
                    </ol>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                    <h3>Quantitative Reasoning</h3>
                    <div class='row'>
                        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                            <ol>
                            <li>
                            Complex/multi-step
                            </li>
                            <li>Eyeballing</li>
                            <li>Geometry</li>
                            <li>Insufficient Information</li>
                            <li>Mixed</li>
                            <li>Percentages</li>
                            <li>Ratios</li>
                            <li>Rounding</li>
                            <li>SDT+Acceleration</li>
                            <li>
                                Simple Arithmetic
                            </li>
                            <li>Text Alone</li>
                        </ol>
                        </div>
                        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                            <ol start=10>
                            
                            
                            <li>Unit Conversation</li>
                            <li>Tables</li>
                            <li>Money</li>
                            <li>Percentage change</li>
                            <li>Banding</li>
                            <li>Composition</li>
                            <li>Diagrams</li>
                            <li>Pythagoras</li>
                            <li>Re-arranging Formulas</li>
                            <li>Schedules and time</li>
                        </ol>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                    <h3>Abstract Reasoning</h3>
                    <div class='row'>
                        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                            <h5>Question<br/> Types</h5>
                            <ol>
                                <li>Set A/B/Neither</li>
                                <li>Set A/B 4 options</li>
                                <li>Complete the Series (Find the Next)</li>
                                <li>Complement Statement</li>
                            </ol>
                        </div>
                        <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                            <h5>Identifying the following patterns:</h5>
                            <ol>
                                <li>Orientation/Position</li>
                                <li>Shapes</li>
                                <li>Single</li>
                                <li>Double</li>
                                <li>Colour</li>
                                <li>Numbers</li>
                                <li>Distractors</li>
                                <li>Clocks</li>
                                <li>Smileys</li>

                            </ol>
                        </div>
                        
                    </div>
                    
                </div>
                <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                    <h3>SJT</h3>
                    <ol>
                        <li><div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="approach-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                              Approach to question types
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="approach-dropdown">
                              <li>Appropriate</li>
                              <li>Importance</li>
                              <li>Most/Least</li>
                              <li>Quote</li>
                            </ul>
                        </div></li>
                        <li>Professional behaviour</li>
                        <li>Dealing with Mistakes</li>
                        <li>Coping with Pressure</li>
                        <li>Teamwork</li>
                        <li>Appropiateness</li>
                        <li>Dealing with Patients</li>
                        <li>Cheating/Dishonesty</li>
                        <li>Confidentiality</li>
                        <li>Health of Students/Doctors </li>
                    </ol>
                    
                </div>
                <div class='col-lg-4 col-md-4 col-sm-12 col-xs-12'>
                    <h3>Exam Technique</h3>
                    <ul>
                        
                        <li>Fatigue and Stamina training</li>
                        <li>Strategy refinement</li>
                        <li>Habitualisation of the UCAT exam</li>
                        <li>Test day poor performance considerations</li>
                        <li>Choosing an optimum time to sit the exam</li>
                        <li>Gauging real world performance to mock performance</li>
                        
                    </ul>
                    
                </div>

            </div>
            <a href='/eligibility-check/' class='book-button'>Book Now</a>
        </div>
    </div>
{% endblock %}
