{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class='ucat-page'>
    
    <div class='course-title'>
        <h1 class="text-center">UCAT</h1>
    </div>
    <div class="container">    
        <div class="ucat-page-card">
            <div class="ucat-page-card-body">
                <h2 class="ucat-page-card-title">Comprehensive</h2>
                <p class="ucat-page-card-text">Total package cost: $2500</p>
                <ul>
                    <li>Pre-recorded Lectures: 103 Videos (Roughly 20 minutes each)</li>
                    <li>Tutorials: weekly until your UCAT exam </li>
                    <li>Discord server with a 48-hour response rate</li>
                    <li>Medify included</li>

                </ul>
                <p>
                    The UCAT Comprehensive package provides a comprehensive approach to prepare for the UCAT exam. This package includes pre-recorded lectures, tutorials, and a dedicated Discord server, all for a total cost of $2500.
                    <br/><br/>
                    The pre-recorded lectures cover various question types and strategies for solving them, as well as fundamental concepts. The lectures aim to help students understand the exam and how to approach it effectively.
                    <br/><br/>
                    The tutorials, which total 15 over a period of 4.5 months, provide students with personalized mentorship and progress monitoring. Each student will have a dedicated mentor who will track their performance through practice questions and exercises. The tutorials also incorporate VR monitoring exercises to ensure that students are following the techniques properly. Students will be given a certain number of practice questions to complete after each tutorial, and any questions encountered will be discussed during the allocated teaching time. Additional extension questions are also available for students who need extra practice.
                    <br/><br/>
                    The package also includes access to a dedicated Discord server, where students can receive support and have their questions answered within 48 hours. The server also includes a forum where students can share difficult questions and collaborate with their peers.
                    <br/><br/>
                    The UCAT Comprehensive package is set to launch on February 14th, with the last date to enroll being February 28th.
                </p>
                <br/>
                <a href='/eligibility-check/' class='book-button'>Book Now</a><a href='/course-content/ucat/' class='course-content-btn'>Course Content</a>
            </div>
        </div>
        {% comment %} <h1 class="text-center">Interview Preparation</h1>
        <div class="courses-card">
            <div class="courses-card-body">
                <h2 class="courses-card-title">Medicine</h2>
                <p class="courses-card-text">Undergraduate Interview preparation for any Australian University</p>
                <ul>
                    <li>Preparatory Phase: 8+ modules</li>
                    <li>Practice Phase: up to 3 one-on-one mock interviews</li>
                </ul>
                
            </div>
        </div>
        <div class="courses-card">
            <div class="courses-card-body">
                <h2 class="courses-card-title">Dentistry</h2>
                <p class="courses-card-text">Undergraduate Dentistry Preparation for any Australian Dentistry Interview</p>
                <ul>
                    <li>Preparatory Phase: 8+ modules</li>
                    <li>Practice Phase: up to 3 one-on-one mock interviews</li>
                </ul>
            </div>
        </div>
        <div class="courses-card">
            <div class="courses-card-body">
                <h3 class="courses-card-title">Application Writing</h3>
                <p class="courses-card-text">Available for purchase separately for non-students</p>
                <ul>
                    <li>JCU Application Considerations</li>
                    <li>UNSW Application Considerations</li>
                    <li>WSU Community Station Considerations</li>
                </ul>
            </div>
        </div> {% endcomment %}
        
    </div>
</div>

{% endblock %}