.click-graphic{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}

.outer-circle{
    position: absolute;
    
}

.inner-circle{
    position: absolute;
    left: 4px;
    top: 4px;
}

.mouse{
    position: absolute;
    left: 10px;
    top: 10px;
}

.hover-to-reveal{
    display: inline;
    color: rgba(255,255,255,0.75);
}