@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.modal{
    
    overflow-x: scroll;
}

.mnt-fnt-700{
    font-family: 'montserrat';
    font-weight: 500;
}

.intr-fnt {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.warning-style-message.formatting-style-A img{
    height: 20px;
    margin: 4px 10px;
}

.warning-style-message.formatting-style-A p{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .modal.fade .modal-dialog { 
    transition: transform 0.3s ease-out; 
    transform: scale(2); 
} */

.section:not(.development){
    /* display: none; */
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal-body{
    background-color: #0D1810 !important;
    display: flex;
    
}

.modal-body p{
    width: 150%;
}

.modal-body .section{
    margin-left: 50px;
}

.modal-body::-webkit-scrollbar {
    display: none;
}

.wht-txt{
    color: white !important;
}

.you-plus-graphic{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.you-plus-graphic p{
    margin: 0 5px !important;
    font-family: 'montserrat';
    font-weight: 700;
}

.you-plus-graphic img{
    max-height: 30px;
    margin: 0 5px;
}

.copy-explanation{
    color: #6a6a6a;
    font-size: 28px;
    width: 400px;
    padding: 25px;
    position: relative;
}

.copy-explanation p{
    width: 100%;
    line-height: 53.3px;
}

.copy-explanation .top-left-corner{
    border-left: 3px solid #897961;
    border-top: 3px solid #897961;
    border-top-left-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    height: 33px;
}
.copy-explanation .top-right-corner{
    border-right: 3px solid #897961;
    border-top: 3px solid #897961;
    border-top-right-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    width: 33px;
    height: 33px;
}
.copy-explanation .bottom-left-corner{
    border-left: 3px solid #897961;
    border-bottom: 3px solid #897961;
    border-bottom-left-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 33px;
    height: 33px;
}
.copy-explanation .bottom-right-corner{
    border-right: 3px solid #897961;
    border-bottom: 3px solid #897961;
    border-bottom-right-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33px;
    height: 33px;
}

.warning-style-message{
    border: solid rgba(197, 0, 0, 0.85) 0.5px;
    padding: 3px 20px;
    width: max-content;
    border-radius: 4px;
    margin-bottom: 20px;
}

.warning-style-message i{
    margin-right: 5px;
    display: inline;
    color: rgba(197, 0, 0, 0.85) ;
    
}

.warning-style-message p{
    display: inline;
    color: rgba(255, 74, 74, 1);
    width: 100%;
    
}

/* 
------------ Modal 1 ------------
*/

/* Modal 1 footer */

.modal-footer{
    background-color: #0D1810;
    border: none;
}

.modal .footer-nav{
    width: 100%;
    display: flex;

}

.nav-part{
    padding: 0 5px;
}

.nav-part .text{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.nav-part .text p{
    margin: 0 0;
}

.nav-2 .text p{
    position: relative;
    display: inline-block;
    

}

.nav-2 .striked-logo{
    position: relative;
    display: inline-block;
    margin: 0 12px;
}

.nav-2 .striked-logo .strikethrough{
    height: 25px;
    width: 100px;
}

.striked-logo .logo{
    position: absolute;
    left: 0;
    max-height: 30px;
    
}


.indicator{
    border: solid rgba(255, 255, 255, 0.15) 4px;
    border-radius: 4px;
    display: inline-block;
    height: 0px;
    width: 212px;
    transition: all 0.4s;
}

.exit-nav{
    display: flex;
    align-items: center;
}

.exit-nav .exit-btn-footer{
    width: max-content;
    background: none;
    border: none;
    padding:  0 0;
}

.exit-nav p{
    margin: 0 0;    
}

@media (max-width: 768px) { 
    .nav-part{
        width: 25vw;
        margin: 0 5px;
    }

    .nav-part .text{
        display: none;
    }

    .indicator{
        width: 25vw;
    }
}

.indicator.current{
    border: solid white 4px;
}

/* End Modal 1 footer */



/* Modal 1 */

.section{
    margin: 30px 15px;
}

/* Section 1 */

.section1{
    /* display: none; */
}

#modal-1 .modal-title{
    font-family: "montage";
    width: 828px;
    height: 100%;
    display: flex;
    align-items: center;
}

#modal-1 .modal-title p{
    
    border-bottom: solid rgba(255, 255, 255, 0.15) 2px;
    padding: 20px 0;
    margin: 0 0;
    font-size: 52px;

}

#modal-1 .modal-title{
    font-family: "mirage";
    font-weight: 500;
}

/* End Section 1 */

/* Section 2 */

.section2{
    /* display: none; */
}

.section2 .copy1{
}

.section2 .copy1 .top-line p {
    display: inline-block;
    margin: 0 5px;
    width: min-content;
    font-size: 18px;
}

.section2 .copy1 .striked-logo {
    display: inline-block;
    position: relative;
}

.section2 .copy1 .conventional-learning{
    font-size: 34px;
    font-family: "montserrat";
}

.section2-content{
    display: flex;
    align-items: baseline;
}

.section2-content .copy2{
    margin: 0 30px;
}

.copy2-explanation{
    color: #6a6a6a;
    font-size: 28px;
    width: 400px;
    padding: 25px;
    position: relative;
}

.copy2-explanation p{
    width: 100%;
    line-height: 53.3px;
}

.copy2-explanation .top-left-corner{
    border-left: 3px solid #897961;
    border-top: 3px solid #897961;
    border-top-left-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    height: 33px;
}

/* End Section 2 */

/* Section 3 */

.section3{
    /* display: none; */
}

.section3 .section3-content{

}

.section3 .section3-content .warning-style-message{

    margin: 30px 0;
    float: right

}

/* End Section 3 */

/* Section 4 */

.section4{
    /* display: none; */
}

.section4-content{
    display: flex;
    justify-content: center;
}

.section4-content .warning-style-message{
    position: relative;
    left: 60px;
}


/* End Section 4 */

/* Section 5 */

.section5{
    /* display: none; */
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
}

.section5 .left-seperator{
    border-left: solid rgba(106, 106, 106, 0.3) 3px;
    position: absolute;
    height: 50%;
    width: 3px;
    top: 0;
    left: 0;
}

.section5 .you-plus-graphic{
    text-align: left;
    width: max-content; 
    align-self: flex-start;
    
}

.section5 .you-plus-graphic p{
    width: max-content;

}

.section5 .section5-copy{
    bottom: 0;
    right: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    

}

.section5 .section5-copy .copy1{
    background-color: #A15E1F;
    padding: 7px 20px;
    border-radius: 4px;
    margin: 30px 0;
    font-size: 20px;
    
}

.section5 .section5-copy .copy1 p{
    color: white;
    margin: 0 0;

}

.section5 .section5-copy p{
    color: #6a6a6a;
    width: 100%;
}

.section5 .section5-copy .copy2{
    padding: 10px;
    text-align: left;
    position: relative;
    font-size: 28px;
    width: 400px;
}

.section5 .section5-copy .copy2 p{
    width: 80%;
    float: right;
}

.section5 .copy2 .top-right-corner{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 4px;
    border-top: solid #897961 2px;
    border-right: solid #897961 2px;
}
/* End Section 5 */

/* Section 6 */

.section6{
    /* display: none; */
}

.section6 img{
    height: 80%;
    width: auto;

}

/* End Section 6 */

/* Section 7 */

.section7 {
    /* display: none !important; */
    display: flex;
    align-items: center;

}

.section7 img{
    height: 80%;
    width: auto;
}

/* End Section 7 */

/* Section 8 */

.section8 {
    /* display: none !important; */
    color: #6a6a6a;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section8 .main-heading{
    background-color: #A15E1F;
    display: inline-block;
    width: min-content;
    text-align: center;
    padding: 3px 24px;
    border-radius: 4px;
    font-size: 20px;
    margin: 20px 0;
}

.section8 .copy1{
    width: 70%;
    padding: 15px;
    position: relative;
    font-size: 28px;
    width: 300px;
    font-weight: normal;
    
    
}

.section8 .copy1 p{
    width: 120%;
    color: #6a6a6a;

}


.section8 .top-left-corner{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    border-top:solid #897961 2px;
    border-left: solid #897961 2px;
    border-top-left-radius: 4px;
}

/* End Section 8 */

/* Section 9 */

.section9{

}

.section9 img{
    height: 80%;
    width: auto;
}

/* End Section 9 */

/* Section 10 */



.section10 .main-copy{
    position: relative;
    margin-top: 200px;
    padding: 10px 25px;
    
    

}

.section10 .main-copy p{
    font-size: 22px;
    width: 350px;
    font-size: 28px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;

    /* background-color: #fff; */
}

.section10 .top-left-corner{
    border-top: solid 2px #897961;
    border-left: solid 2px #897961;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 4px;

}

/* End Section 10 */

/* Section 11 */
.section11{
    width: 1400px;
}

.section11 .section11-content{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.section11 .section11-content .top-section{
    display: flex;
    justify-content: center;

}

.section11 .section11-content .top-section .top-section-copy{
    width: 500px;
    display: flex;
    align-items: center;

}

.section11 .section11-content .top-section .top-section-copy p{
    width: 100%;
    font-size: 40px;
    font-family: "mirage";
    font-weight: 700;
}

.section11 .section11-content .top-section .left-arrow-icon{
    background: none;
    border: none;
    
}

.section11 .section11-content .top-section .left-arrow-icon img{
    height: 250px;
}

.section11 .bottom-section{
    width: 950px;
}

.section11 .bottom-section .row{
}

.section11 .bottom-section .bottom-line-left-box{
    border-right: solid rgba(106, 106, 106, 0.3) 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: right;
}

.section11 .bottom-section .conventional-learning-heading p{
    width: 100%;
}

.section11 .bottom-section .row .top-line-left-box{
    border-right: solid rgba(106, 106, 106, 0.3) 3px;
}

.section11 .you-plus-graphic{
    height: 100%;
    justify-content: end;
    
}

.section11 .you-plus-graphic p{
    font-size: large;
    display: inline-block;
    width: max-content;
}

.section11 .bottom-section-copy1{

    display: flex;
    justify-content: center;
    border-bottom: solid rgba(106, 106, 106, 0.3) 3px;

}

.section11 .bottom-section-copy1 p{
    margin: 25px 10px;
    padding: 10px 12px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #A15E1F;
    border-radius: 4px;
    font-family: 'montserrat';
}

.section11 .bottom-section-copy1 .plus-span{

    width: 50px;
    background: none;
}

.section11 .bottom-section-copy1-container{
    padding: 0 0;
}

.section11 .bottom-section-copy2-container{
}

.section11 .bottom-section-copy2{
    display: flex;
    margin: 25px 30px;
    
}

.section11 .bottom-section-copy2 .plus-span{
    text-align: center;
    align-self: center;
    width: 50px;
    margin: 0 30px;
}

.section11 .bottom-section-copy2 .warning-style-message{
    display: flex;
    align-items: center;
    padding: 0 0;
    margin: 0 0;
}

.section11 .bottom-section-copy2 .warning-style-message p{
   margin: 10px 10px;
   text-align: center;
   margin-right: 22px;
   font-family: 'montserrat';
    
}

.section11 .bottom-section-copy2 .warning-style-message img{
    margin: 0 10px;
    margin-right: 0;
     
 }

/* End Section 11 */

/* 
------------ End Modal 1 ------------
*/

/* 
------------ Modal 2 ------------
*/

/* Section 12 */

#modal-2 .modal-title{
    
    width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    
}

#modal-2 .modal-title p{
    font-family: "mirage";
    border-bottom: solid rgba(255, 255, 255, 0.15) 2px;
    padding: 20px 0;
    margin: 0 0;
    font-size: 52px;
    font-weight: 500;

}

#modal-2 .modal-title{
    font-family: "montage";
}

/* End Section 12 */

/* Section 13 */

.section13{
    display: flex;
}

.section13 .copy1{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;

    
}

.section13 .copy1 .middle-content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.section13 .copy1 .top-line p {
    display: inline-block;
    margin: 0 5px;
    width: min-content;
    font-size: 18px;
}

.section13 .copy1 .striked-logo {
    display: inline-block;
    position: relative;
}

.section13 .copy1 .conventional-learning{
    font-size: 34px;
    font-family: "montserrat";
}

.section13 .copy-explanation{
}

.section13 .warning-style-message{
    align-self: end !important;
}

.section13 .copy-explanation p{
    text-align: right;

}

/* End Section 13 */

/* Section 14 */

.section14 .section14-content{
    height: 100%;
    display: flex;
    align-items: center;

}

.section14 .section14-content .copy-explanation{
    background-color: rgba(22, 80, 41, 0.1);
    border: solid #165029 1px;
    padding: 30px;
    border-radius: 4px;
    width: max-content;
    width: 600px !important;


}

.section14 .section14-content .copy-explanation .bottom-left-corner{
    bottom: 15px !important;
    left: 15px !important;
    border-color: #165029;
    border-bottom-left-radius: 4px;
}

.section14 .section14-content .copy-explanation .one{
    color: white;
    font-weight: 300;
    font-size: 25px;
    margin: 10px 0;
    margin-bottom: 0;
}
.section14 .section14-content .copy-explanation .two{
    background-color: #897961;
    display: inline-block;
    color: white;
    padding: 5px 10px;
    font-size: 30px;
    margin: 10px 0;
    margin-top: 0;
    
}
.section14 .section14-content .copy-explanation .three{
    color: white;
    font-size: 25px;
    margin: 10px 0;
    margin-bottom: 0;
}
.section14 .section14-content .copy-explanation .four{
    background-color: #941010;
    display: inline-block;
    color: white;
    font-size: 30px;
    padding: 5px 10px;
    margin: 10px 0;
    margin-top: 0;
}

/* End Section 14 */

/* Section 15 */

.section15 .section15-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100%;
}

.section15 .section15-content .animation1{
    
    width: 600px ;
}

/* End Section 15 */

/* Section 16 */

.section16 .section16-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-left: solid #6a6a6a 1px;
}

.section16 .section16-content .you-plus-graphic {
    text-align: left;
    justify-content: start;
}

.section16 .section16-content .you-plus-graphic p{
    display: inline-block;
    width: max-content;
    text-align: left;
}

.section16 .section16-content .explanation-container{
    display: flex;
    align-items: center;
    
}

/* End Section 16 */

/* Section 17 */

.section17-content{
    height: 100%;
}

.section17-content .animation2{
    margin: 30px 0;
}

.section17-content .section-pros p{
    display: inline-block;
    width: max-content;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 4px;
}

.section17-content .section-pros p:not(.plus-icon){
    background-color: #A15E1F
}
/* End Section 17 */

/* Section 18 */
.section18{
    width: 1400px;
}

.section18 .section18-content{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.section18 .section18-content .top-section{
    display: flex;
    justify-content: center;

}

.section18 .section18-content .top-section .top-section-copy{
    width: 500px;
    display: flex;
    align-items: center;

}

.section18 .section18-content .top-section .top-section-copy p{
    width: 100%;
    font-size: 40px;
    font-family: "mirage";
    font-weight: 700;
    margin-bottom: 0;
}

.section18 .section18-content .top-section .left-arrow-icon{
    background: none;
    border: none
    
}

.section18 .section18-content .top-section .left-arrow-icon img{
    height: 250px;
}

.section18 .bottom-section{
    width: 1000px;
}

.section18 .bottom-section .row{
}

.section18 .bottom-section .bottom-line-left-box{
    border-right: solid rgba(106, 106, 106, 0.3) 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: right;
}

.section18 .bottom-section .conventional-learning-heading p{
    width: 100%;
}

.section18 .bottom-section .row .top-line-left-box{
    border-right: solid rgba(106, 106, 106, 0.3) 3px;
}

.section18 .you-plus-graphic{
    height: 100%;
    justify-content: end;
    
}

.section18 .you-plus-graphic p{
    font-size: large;
    display: inline-block;
    width: max-content;
}

.section18 .bottom-section-copy1{

    display: flex;
    justify-content: center;
    border-bottom: solid rgba(106, 106, 106, 0.3) 3px;

}

.section18 .bottom-section-copy1 p{
    margin: 25px 10px;
    padding: 10px 12px;
    text-align: center;
    font-family: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #A15E1F;
    border-radius: 4px;
    font-family: 'montserrat';
}

.section18 .bottom-section-copy1 .plus-span{

    width: 50px;
    background: none;
}

.section18 .bottom-section-copy1-container{
    padding: 0 0;
}

.section18 .bottom-section-copy2-container{
}

.section18 .bottom-section-copy2{
    display: flex;
    margin: 25px 30px;
    
}

.section18 .bottom-section-copy2 .plus-span{
    text-align: center;
    align-self: center;
    width: 50px;
    margin: 0 30px;
}

.section18 .bottom-section-copy2 .warning-style-message{
    display: flex;
    align-items: center;
    padding: 0 0;
    margin: 0 0;
}

.section18 .bottom-section-copy2 .warning-style-message p{
   margin: 10px 10px;
   text-align: center;
   margin-right: 22px;
   font-family: 'montserrat';

    
}

.section18 .bottom-section-copy2 .warning-style-message img{
    margin: 0 10px;
    margin-right: 0;
     
 }

/* End Section 18 */

/* Section 19 */


.section19{
    /* display: none; */
}

#modal-3 .modal-title{
    
    width: 828px;
    height: 100%;
    display: flex;
    align-items: center;
}

#modal-3 .modal-title p{
    font-family: "mirage";
    font-weight: 500;
    border-bottom: solid rgba(255, 255, 255, 0.15) 2px;
    padding: 20px 0;
    margin: 0 0;
    font-size: 52px;

}

#modal-3 .modal-title{
    font-family: "montage";
}

/* End Section 19 */



/* 
------------ End Modal 2 ------------
*/

/* 
------------ Modal 3 ------------
*/

/* Section20 */

.section20-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section20 .explanation-container{
    display: flex;
    align-items: center;
}

/* End Section 20 */

/* Section 21 */

.section21-content{
    display: flex;
    height: 100%;
}

.section21-content .img-container{
    height: 100%;

}

.section21-content img{
    height: 80%;
}

/* End Section 21 */

/* Section 22 */

.section22-content{
    display: flex;
    height: 100%;
}

.section22-content .img-container{
    height: 100%;
    display: flex;
    align-items: end;
}

.section22-content img{
    height: 80%;
}

/* End Section 22 */

/* Section 23 */

.section23-content{
    height: 100%;
    display: flex;
    align-items: center;
}

/* End Section 23 */

/* Section 24 */

.section24{
    width: 1000px;
}

.section24 .section24-content{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.section24 .section24-content .top-section{
    display: flex;
    justify-content: center;

}

.section24 .section24-content .top-section .top-section-copy{
    width: 500px;

}

.section24 .section24-content .top-section .top-section-copy p{
    width: 100%;
    font-size: 40px;
    font-family: "mirage";
    font-weight: 700;
}

.section24 .section24-content .top-section .left-arrow-icon{
    background: none;
    border: none
}

.section24 .bottom-section{
}

.section24 .bottom-section .row{
}

.section24 .bottom-section .bottom-line-left-box{
    border-right: solid rgba(106, 106, 106, 0.3) 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-align: right;
}

.section24 .bottom-section .conventional-learning-heading p{
    width: 100%;
}

.section24 .bottom-section .row .top-line-left-box{
    border-right: solid rgba(106, 106, 106, 0.3) 3px;
}

.section24 .you-plus-graphic{
    height: 100%;
    justify-content: end;
    
}

.section24 .you-plus-graphic p{
    font-size: large;
    display: inline-block;
    width: max-content;
}

.section24 .bottom-section-copy1{

    display: flex;
    justify-content: center;
    border-bottom: solid rgba(106, 106, 106, 0.3) 3px;

}

.section24 .bottom-section-copy1 p{
    margin: 25px 10px;
    padding: 10px 12px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #A15E1F;
    border-radius: 4px;
}

.section24 .bottom-section-copy1 .plus-span{

    width: 50px;
    background: none;
}

.section24 .bottom-section-copy1-container{
    padding: 0 0;
}

.section24 .bottom-section-copy2-container{
}

.section24 .bottom-section-copy2{
    display: flex;
    margin: 25px 0;
    
}

.section24 .bottom-section-copy2 .plus-span{
    text-align: center;
    align-self: center;
    width: 50px;
    margin: 0 30px;
}

.section24 .bottom-section-copy2 .warning-style-message{
    display: flex;
    align-items: center;
    padding: 0 0;
    margin: 0 0;
}

.section24 .bottom-section-copy2 .warning-style-message p{
   margin: 10px 10px;
   text-align: center;

    
}

.section24 .bottom-section-copy2 .warning-style-message i{
    margin: 0 10px;
    margin-right: 0;
     
}

.section24 .go-to-lms{
    background: none;
    border: solid white 1px;
    border-radius: 2px;
    padding: 4px 20px !important;
}

/* End Section 24 */

/* 
------------ End Modal 3 ------------
*/